@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.topo {
  display: flex;
  flex-direction: row;
  background-color: #1F2937;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}

.links {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  padding-left: 630px;
}

a {
  text-decoration: none;
}

a:link {
color: rgb(199, 199, 199);
}

a:hover {
  color: gray;
}

a:visited {
  color: rgb(199, 199, 199);
}

a:visited:hover {
  color: gray;
}

.link-2 {
  padding-left: 60px;
}

.link-3 {
  padding-left: 60px;
  padding-right: 100px;
}

.topo-1 {
  font-size: 24px;
  color: #F9FAF8;
  padding-right: 0px;
}

.topo-down {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  align-items: flex-start;

}

.ferrari-interior {
  height: auto;
  width: 500px;
  border-style:inset;
  color: #E5E7EB;
}

figcaption {
  text-align: center;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 28px;
  min-width: 54px;
  max-width: 90px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: rgb(199, 199, 199);
}

.extra-bold {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.down-extra-bold {
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.topo-down-row {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.cars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px;
  transition: 100ms;

}

.carss {

  width: 100%;
  width: 180px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.white-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;

}

.white-part h1 {
  font-size: 36px;
  font-weight: bolder;
  color:#1F2937;
  justify-content: center;
  padding-top: 40px;
}

a:hover {
  transform: scale(1.8);
}

a {
  transition: 200ms;
}

.h2-cars {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1F2937;
  padding-bottom: 5px;
  font-size: 18px;
  padding-bottom: 10px;
}

.see-more{
  padding-bottom: 100px;
  font-size: 14px;
}

a.click-here {
  text-decoration: none;
}

a.click-here:link {
color: black;
}

a.click-here:hover {
  color: gray;
}

a.click-here:visited {
  color: black;
}

a.click-here:visited:hover {
  color: gray;
}

.inspirational-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  font-size: 26px;
  color: #1F2937;
  max-width: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 100px;
}

.quote {
  font-style: italic;
}

.quote-author {
  padding-left: 1100px;
  font-style: bold;
}

footer {
  text-align: center;
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 20px;
}

